<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<div th:fragment="header-head">
<title>Sportify</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"  />
</div>


</head>


<body>
<div th:fragment="header-nav">
<nav>
	<div class="navigation-main">
	<div class="logo"><a href="http://localhost:8080/app">Sportify</a></div>

	<ul>
	
		<li th:each="u : ${id}"><a th:href="@{/app/account/{u}/(u = ${u.id})}"><i class="fa fa-user"></i></a></li>
		<li><a href="#"><i class="fa fa-soccer-ball-o"></i></a></li>
		<li><a th:href="@{/app/event/new}"><i class="fa fa-plus"></i></a></li>
	
	</ul>
	</div>
</nav>
 
<br/><br/><br/>
</div>


</body>

</html>